<form {{action 'authenticate' on='submit'}}>
  <div class="loginDiv">
  <ul class="loginList">
    <li id="loginField">
      <label for="identification" id="loginLabel">Login</label>
      {{input id='identification' placeholder='Enter Login' value=identification}}
    </li>
    <li id="loginPassField">
      <label for="password">Password</label>
      {{input id='password' placeholder='Enter Password' type='password' value=password}}
    </li>
    <li id="loginButtonField">
      <button type="submit">Login</button>
    </li>
    <li>
      {{#if errorMessage}}
        <p>{{errorMessage}}</p>
      {{/if}}
    </li>
  </ul>
</div>
</form>
